.accountListContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.accountListTitleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
}

.accountListTitle {
    font-size: 28px;
    font-weight: 700;
    user-select: none;
}

.accountContentBox {
    padding: 24px;
    background-color: #edf4f8;
    flex: 2;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.accountTable {
    background-color: #fff;
    padding: 10px 20px 20px;
    border-radius: 8px;
}

.accountTable td{
    font-size: 16px;
    color: #212529;
}

.form-control {
    width: 400px !important;
}

.footerAccountPage {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}