.editEmployeeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.editEmployeeTitleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
}

.editEmployeeTitle {
    font-size: 28px;
    font-weight: 700;
    user-select: none;
}

.editEmployeeContentBox {
    padding: 24px;
    background-color: #edf4f8;
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.editEmployeeBox {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px 20px;
    height: 555px;
    overflow: auto;
    border-radius: 8px;
}

.editEmployeeInfo {
    width: 140px;
}

.editEmployeeAction {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    align-items: center;
    flex: 3;
    margin-right: 24px;
}