.employeeListContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.employeeListTitleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
}

.employeeListTitle {
    font-size: 28px;
    font-weight: 700;
    user-select: none;
}

.employeeContentBox {
    padding: 24px;
    background-color: #edf4f8;
    flex: 2;
}

.employeeTable{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px 20px;
    overflow: hidden;
}

.form-control {
    width: 400px !important;
}

.footerEmployeePage {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}

.employeeTable .css-y8ay40-MuiTableCell-root,.employeeTable .css-1ex1afd-MuiTableCell-root{
    padding: 4px;
}

#demo-simple-select{
    /* padding: 8px 8px 8px 12px;    */
}