.sidebar{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-width: 260px;
}

.systemNameBox {
    max-width: 360px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c81d9;
    padding: 24px;
    box-shadow: 2px 6px 4px 0px rgba(148,148,148,0.2);
}

.systemName {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    user-select: none;
    cursor: pointer;
}

.sidebarMenuBox {
    padding: 25px 15px;
    flex: 2;
    box-shadow: 4px 0px 4px 0px rgba(148,148,148,0.3);
    z-index: 10;
}


.itemBox {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-radius: 16px;
    margin-bottom: 8px;
}

.itemBox i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    color: #54667A;
    user-select: none;
}

.itemBox:hover i,
.itemBox:hover .itemName{
    color: #26c6da;
}

.itemBox a {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 20px;
    user-select: none;
}

.itemBox.active{
    width: "100%";
    height: "100%";
    color: #fff;
    background-color: #26c6da;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    transition: all ease-in 0.5s;
}

.itemBox.active i{
    color: #fff;
}

.itemBox.active a{
    color: #fff;
    transition: all ease-in 0.3s;
}

.itemBox.active .itemName{
    color: #fff;
}

.itemName{
    color: #54667A;
    margin-left: 12px;
}